---
const platform = "github";
const platformar = "Youtube"
const username = "withastro";
import Social from './Social.astro';

const plataforma = "youtu.be";
const username2 = "yxWBd840E9g?si=ECBDd-6-1K8x57fK"
---

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
    }
  </style>
  
<footer>
  <p>Si querí aprender sobre Astro entra aqui! <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Tambien podi escuchar la mejor cancion del Flea con el Tom Yorke aqui! <a href={`https://${plataforma}/${username2}`}>{platformar}</a>!</p>
  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />
</footer>

<!-- https://youtu.be/yxWBd840E9g?si=ECBDd-6-1K8x57fK -->